@{
  Layout = "_Layout";
}

@model BakeryTreat.Models.Flavor

<h2>Types of Flavors</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.FlavorName): @Html.DisplayFor(model => model.FlavorName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This flavor is not assigned to any treats yet</p>
}
else
{
  <h4>Treats with this flavor:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Treat.TreatName</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to flavors", "Index")</p>
<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>