
@{
  Layout = "_Layout";
}

@model BakeryTreat.Models.Treat

<h2>Edit</h2>

<h4>Edit this treat: @Html.DisplayFor(m => m.TreatName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(m => m.TreatId)

  @Html.LabelFor(m => m.TreatName)
  @Html.EditorFor(m => m.TreatName, new { @class = "form-control", placeholder =
    @Html.DisplayNameFor(m=>m.TreatName), required="required"})

  @Html.Label("Select flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" class="btn btn-primary"/>
}

<p>@Html.ActionLink("Back to list", "Index")</p>